* {
    margin: 0;
    padding: 0;
}

nav {
	position: relative;
	margin: 0 0;
	top: 0; /* Stay at the top */
    left: 0;
	padding-top: 5%;
    background-color: #003459;
	height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
	overflow: auto;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
  /* Sub Menu */
  list-style: none;
  padding-left: 15px;
}

nav ul li a {
	display: block;
	padding: 10px 10px;
	color: #fff;
	text-decoration: none;
	transition: 0.2s linear;
}
nav ul li a:hover {
	background-color: #007EA7;
	color: #fff;
}

nav ul li ul li a {
	
	border-left: 2px solid transparent;
	padding: 10px 10px;
}
nav ul li ul li a:hover {
	border-left: 2px solid #fff;
}
 

@media screen and (min-width: 600px) {
	nav {
		width:11%;
	}
	.content {
		margin-left: 15%;
		padding: 20px;
	  }
	}
  
@media screen and (max-width: 600px) {
	.content {
		margin-left: 5%;
        margin-top: 200px; /* Adjust based on navbar height */
        padding: 20px;
	  }

	nav {
		text-align: center;
		float: none;
		width:100%;
		height:auto;
		display:block;
		position: fixed;
		z-index: 1; /* Stay on top */
	}

	nav li a {
	  text-align: center;
	  float: none;
	}
  }

.category-container {
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;

}

.category-container .box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px;
	width: 20%;
	height: 10em;
	font-size: 1.5rem;
	background-color: #007EA7;
	color: #FFFFFF;
	text-decoration: none;
}

/* Post form  */
.post-form {
	margin-left: 15%;
	font-size: 2rem;
}

.input-field {
	padding: 1em;
	width: 80%;
	font-size: 1rem;
	margin-bottom: 1em;
}

.textarea-field {
	width: 80%;
	padding: 1em;
	font-size: 1rem;
	margin-bottom: 1em;
	resize: none;
}

.submit-button input{
	padding: 1em;
	font-size: 1rem;
}