{% extends "base.html" %}

{% block title %}About us{% endblock %}

{% block content %}
<section class="content">
    <h1>Welcome to LearnLink!</h1><br>
    <section class="category-container about-us">
        <p>At LearnLink, our mission is to empower students worldwide by providing a platform that facilitates easy access to high-quality study resources. 
            We believe that education should be accessible to everyone, and our goal is to create a community where knowledge is shared freely and learning is a collaborative effort.
        </p>
        <h1>Who We Are</h1>
        <p>LearnLink was founded by a team of passionate students and tech enthusiasts who recognized the challenges students face in finding reliable study materials. 
            Our platform is designed to bridge the gap between students and the vast array of educational resources available online.
        </p>
        <h1>What We Offer</h1>
        <ul>
            <li>Diverse Resources: Users are able to upload links to video tutorials, interactive quizzes, and other educational content. LearnLink offers a wide variety of resources across multiple subjects and educational levels.</li>
            <li>User-Generated Content: We encourage our users to contribute by sharing their own study materials, thus enriching the learning experience for everyone</li>
            <li>Community Support: Our platform fosters a supportive community where students can ask questions, share insights, and help each other succeed.</li>
        </ul>
        <h1>Our Vision</h1>
        <p>We envision a world where every student has the tools they need to excel academically. By leveraging technology and the power of community, we aim to make quality education accessible to all, regardless of geographical location or financial constraints.</p>
        <h1>Our Team</h1>
        <img src="/static/our_team.jpg" height="400px">
    </section>
</section>
{% endblock %}