{% extends "base.html" %}

{% block title %}Category Page{% endblock %}

{% block content %}
<section class="content">
    <h2>Here you can find all the subjects that are available</h2>
    <section class="category-container">
        <div class="box box1">
            <p>Maths</p>
        </div>
        
        <div class="box box2">
            <p>Programming</p>
        </div>
        
        <div class="box box3">
            <p>Philosophy</p>
        </div>
        
        <div class="box box4">
            <p>Medicine</p>
        </div>
        <div class="box box4">
            <p>Data Science</p>
        </div>
        <div class="box box4">
            <p>Box 6</p>
        </div>
        <div class="box box4">
            <p>Box 7</p>
        </div>
        <div class="box box4">
            <p>Box 8</p>
        </div>
        <div class="box box4">
            <p>Box 9</p>
        </div>
        <div class="box box4">
            <p>Box 10</p>
        </div>
        <div class="box box4">
            <p>Box 11</p>
        </div>
        <div class="box box4">
            <p>Box 12</p>
        </div>
        <div class="box box4">
            <p>Box 13</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
        <div class="box box4">
            <p>Box 4</p>
        </div>
    </section>
</section>

{% endblock %}