{% extends "base.html" %}

{% block title %}Category Page{% endblock %}

{% block content %}
<section class="content">
    <h2>Here you can find all the subjects that are available</h2>
    <section class="category-container">
        <div class="box">
            <p>Programming</p>
        </div>
        
        <div class="box">
            <p>Maths</p>
        </div>
        
        <div class="box">
            <p>Data Science</p>
        </div>
        
        <div class="box">
            <p>Medicine</p>
        </div>

        <div class="box">
            <p>Philosophy</p>
        </div>

        <div class="box">
            <p>Languagues</p>
        </div>

        <div class="box">
            <p>Chemistry</p>
        </div>

        <div class="box">
            <p>History</p>
        </div>

        <div class="box">
            <p>Economics</p>
        </div>
        
    </section>
</section>

{% endblock %}