<!DOCTYPE html>
<html>
<head>
    <title>Create Post</title>
</head>
<body>
    <h1>Create Post</h1>
    <form method="POST" action="{{ url_for('create_post', sub_cat_id=request.args.get('sub_cat_id')) }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post_title.label }}<br>
            {{ form.post_title(size=80) }}<br>
            {% for error in form.post_title.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.post_body.label }}<br>
            {{ form.post_body(rows=10, cols=80) }}<br>
            {% for error in form.post_body.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.image_url.label }}<br>
            {{ form.image_url(size=80) }}<br>
            {% for error in form.image_url.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.video_url.label }}<br>
            {{ form.video_url(size=80) }}<br>
            {% for error in form.video_url.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
