<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <title>LearnLink</title>

</head>
<body>
    <h1>
        LearnLink
    </h1>

    <h3>
        <cite>"The platform for finding study resources online."</cite>
    </h3>
    <div class="container">
    <div class="coming_soon">
        COMING SOON!
    </div>

    <table class="landing">

        <thead>
            <th>
                Links to resources of knowledge
            </th>
            <th>
                Forum to discuss resources of knowledge
            </th>
            <th>
                Rank other users shared resources
            </th>
            <th>
                Upload your own links to resources
            </th>
        </thead>
        <tbody>
            <td>
                <i class="fa-solid fa-link"></i>
            </td>
            <td>
                <i class="fa-regular fa-comments"></i>
            </td>
            <td>
                <i class="fa-solid fa-thumbs-up"></i>
            </td>
            <td>
                <i class="fa-solid fa-file-arrow-up"></i>
            </td>
    </tbody>
</table>
<h3>
    Various fields of studies with useful resources to help you reach your future goal! Coming Soon!
</h3>
</div>
</body>
</html>