{% extends "base.html" %}

{% block title %}LearnLink{% endblock %}

{% block content %}
<section class="content">
    <h1>LearnLink</h1><br>
    <h2>The easiest way to find great study resources</h2><br>
    <h3>With various fields of study to browse from, on LearnLink you can find a resource for your upcoming exam in minutes!</h3><br>
    <a href="/categories"><button class="takeme">Take me there!</button></a>
    <section class="category-container">
        <div><br>
            <p class="landing-text">On LearnLink you are able to browse links that other studens have found useful, post your own links and discuss them with other users.</p><br>
            <p class="landing-text">To make your own posts, create an account below.</p><br>
            <a href="/register"><button class="takeme">Register</button></a><br><br><br>
            <h2>Recent posts</h2>
        </div>
        {% for post in recent_posts %}
        <a class="material-box" href="{{ url_for('material_page', post_id=post.post_id) }}">
                <div class="material-sub-box">
                    <h1>{{ post.post_title }}</h1>
                    <p>{{ post.post_body }}</p>
                    <div class="post-date"><p><em>Posted in: {{ post.sub_category.sub_category_name }} Time: {{ post.created_at.strftime('%H:%M:%S') }}</em></p><br></div>
                </div>
        </a>
        {% endfor %}
    </section>
</section>
{% endblock %}
