{% extends "base.html" %}

{% block title %}LearnLink{% endblock %}

{% block content %}
<section class="content">
    <h1>LearnLink</h1><br>
    <h2>The easiest way to find great study resources</h2><br>
    <h3>With various fields of study to browse from, on LearnLink you can find a resource for your upcoming exam in minutes</h3><br>
    <a href="/categories"><button class="takeme">Take me there!</button></a>
    <section class="category-container">
        <div><br>
            <p>On LearnLink you are able to browse and share links with other students.</p>
        </div><br><br><br>
        <div class="material-box">
            {% for post in recent_posts %}
                <div class="material-sub-box">
                    <h1>{{ post.post_title }}</h1>
                    <p>{{ post.post_body | make_links }}</p>
                    <div class="post-date"><p><em>Posted at: {{ post.created_at.strftime('%H:%M:%S') }}</em></p></div>
                </div><br>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}
