{% extends "base.html" %}

{% block title %}LearnLink{% endblock %}

{% block content %}
<section class="content">
    <h1>LearnLink</h1><br>
    <h2>The easiest way to find great study resources</h2><br>
    <h3>With various fields of study to browse from, on LearnLink you can find a resource for your upcoming exam in minutes</h3><br>
    <a href="/categories"><button class="takeme">Take me there!</button></a>
    <section class="category-container">
        <div><br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident atque eveniet mollitia, 
                voluptatem perspiciatis assumenda possimus quaerat molestiae voluptatibus distinctio ea aut reiciendis vitae dignissimos! Temporibus 
                corporis eius adipisci quasi dignissimos dolorum quidem dolores hic!</p>
        </div>
    </section>
</section>
{% endblock %}