{% extends "base.html" %}

{% block title %}Materials{% endblock %}

{% block content %}
<section class="content">
    <h2>All posts in {{ sub_category.sub_category_name }}</h2>
    <a class="post-button" href="{{ url_for('create_post', sub_cat_id=sub_category.sub_category_id) }}">Create Post</a>
    <section class="category-container">
        {% for material in materials %}
        <a class="material-box" href="{{ url_for('material_page', post_id=material.post_id) }}">
            <div class="material-sub-box">
                <!-- Delete button visible only for admin and the post creator -->
                {% if current_user.is_authenticated and (material.user_id == current_user.user_id or current_user.has_role('Admin')) %}
                    <form class="delete_me_materials" method="POST" action="{{ url_for('delete_post', sub_cat_id=sub_category.sub_category_id) }}">
                        <input type="hidden" name="post_id" value="{{ material.post_id }}">
                        <button class="delete_post" type="submit">Delete Post</button>
                    </form>
                {% endif %}
                <h1>{{ material.post_title }}</h1>
                <p>{{ material.post_body }}</p>
                <div class="post-date">
                    <p><em>Posted at: {{ material.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</em></p>
                </div>
                <div class="ratings">
                    <p>Thumbs Up: {{ material.post_ratings|selectattr('rating', 'equalto', True)|list|length }}</p>
                    <p>Thumbs Down: {{ material.post_ratings|selectattr('rating', 'equalto', False)|list|length }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </section>
</section>
{% endblock %}
