{% extends "base.html" %}

{% block title %}Materials{% endblock %}

{% block content %}
<section class="content">
    <h2>All posts in {{ sub_category.sub_category_name }}</h2>
    <a class="post-button" href="{{ url_for('create_post', sub_cat_id=sub_category.sub_category_id) }}">Create Post</a>
    <section class="category-container">
        {% for material in materials%}
        <a class="material-box" href="{{ url_for('material_page', post_id=material.post_id) }}">
            <div class="material-sub-box">
            <h1>{{ material.post_title }}</h1>
            <p>{{ material.post_body}}</p>
            <div class="post-date"><p><em>Posted at: {{ material.created_at.strftime('%H:%M:%S') }}</em></p></div>
            </div>
        </a>
        {% endfor %}
    </section>
</section>
{% endblock %}