{% extends "base.html" %}

{% block title %}Material{% endblock %}

{% block content %}
<section class="content">
    <section class="content-21">
        <div class="post-content-21">
            <h1 class="post-title">{{ material.post_title }}</h1>
            <p class="post-author">Posted by: <span class="post-username"> {{ material.user.user_name }} </span></p>
            <p class="post-body">{{ material.post_body | make_links | safe }}</p>
            {% if current_user.is_authenticated and material.user_id == current_user_id %}
                <a href="{{ url_for('edit_post', post_id=material.post_id) }}" class="btn btn-warning">Edit Post</a>
            {% endif %}
            {% for attachment in material.files_attached %}
                {% if attachment.file_type == 'video' %}
                    <div>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ attachment.file_url.split('/')[-1] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section class="comments-section">
        <h2>Comments</h2>
        {% if current_user.is_authenticated %}
            <form method="POST" action="{{ url_for('material_page', post_id=material.post_id) }}">
                {{ comment_form.hidden_tag() }}
                <div class="form-group">
                    {{ comment_form.comment_text(placeholder="Your comment", class="form-control") }}
                </div>
                <div class="form-group">
                    {{ comment_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        {% else %}
            <p>You need to be <a href="{{ url_for('login', next=request.url) }}">logged in</a> to comment.</p>
        {% endif %}

        <div class="comments">
            {% for comment in comments %}
                {% with comment=comment %}
                    {% include 'comment.html' %}
                {% endwith %}
            {% endfor %}
        </div>
    </section>
</section>

<script>
    function showReplyForm(commentId) {
        var replyForm = document.getElementById('reply-form-' + commentId);
        replyForm.style.display = 'block';
    }
</script>
{% endblock %}
