{% extends "base.html" %}

{% block content %}
<section class="content">

    <h1>Matched Searches</h1>

    
    {% for id in hit_id %}
    {% for post in posts %}
    {% if post.post_id == id %}
    <section class="category-container">
    <a class="material-box" href ="/material/{{ id }}">
        <div class="material-sub-box">
        <h1>{{ post.post_title }}</h1>
        {% if current_user.is_authenticated %}
        <form class="delete_me_materials" method="POST" action="{{ url_for('delete_post', sub_cat_id=post.sub_cat_id) }}">
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
            <button class="delete_post" type="submit">Delete Post</button>
        </form>

        {% endif %}
    <p>{{ post.post_body}}</p>

    <div class="post-date"><p><em>Posted at: {{ post.created_at.strftime('%H:%M:%S') }}</em></p></div>
</div>
    </a>
</section>
    {% endif %}
    {% endfor %}
    {% endfor %}

</section>
{% endblock %}