{% extends "base.html" %}

{% block title %}{{ category.category_name }}{% endblock %}

{% block content %}
<section class="content">
    <h2>Subcategories for {{ category.category_name }}</h2>
    <section class="category-container">
        {% for subcategory in category.subcategories %}
            <a class="box" href="{{ url_for('materials_page', sub_cat_id=subcategory.sub_category_id) }}">
                <p class="box-text">{{ subcategory.sub_category_name }}</p>
            </a>
        {% endfor %}
    </section>
</section>
{% endblock %}
